:root{
    --primary-color:#264653;
    --ligth-primary:#2A9D8F;
    --ligthest-color:#F4A261;
    --secondary-color:#E76F51;
    --light-secondary:#E9C46A;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--ligthest-color);
}

#search-container{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;

}

header > h2 > i {
    margin-right: 0.5rem;
}

.movie-nome-wrapper {
    width: 65%;
    display: flex;
    align-items: center;
}

.movie-ano-wrapper {
   
    display: flex;
    align-items: center;

}

#search-botao {
    width: 5%;
}

.movie-ano-wrapper > input {
    max-width: 5rem;
}
.movie-nome-wrapper > input {
    width: 100%;
}

.movie-ano-wrapper > input,
.movie-nome-wrapper > input {
    margin: 0 0.5rem;
    border-radius: 7px;
    padding: 0.3rem 0.2rem ;
    font-weight: bold;
}
.movie-ano-wrapper> label,
.movie-nome-wrapper > label {
    font-weight: bold;
}

#search-botao {
    all:unset;
    padding: 0.3rem;
    border: 2px solid var(--ligthest-color);
}

#search-botao:focus,
#search-botao:hover {
    background-color: var(--ligth-primary);
}